.env
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
*.egg-info/
.ruff_cache/
*.egg-info/
logs/
plugins/
*.pyc
sources/files/generated/*
!sources/files/generated/.gitkeep
airflow/data/landing/*
!airflow/data/landing/.gitkeep
airflow/data/source_exports/
dbt/target/
dbt/logs/
dbt_packages/
